<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> History </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card><ion-card-title>Device info </ion-card-title><ion-card-content>{{uid}}</ion-card-content></ion-card>
  <ion-card>
    <div>
      <div>Storage in used</div>
      <div>{{numOfSize}}MB from 10GB/Day</div>
    </div>
    <div><div >{{percent| number:'1.2-2' }}%</div></div>
  </ion-card>

  <ion-card>
    <ion-card-title>Sent</ion-card-title>
    <ion-card-content class="flex">
      <div class="value pink">{{numOfSent}} files</div>
      <div  class="value purple">{{numOfSize}} MB</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Receive</ion-card-title>
    <ion-card-content class="flex">
      <div class="value yellow">{{numOfRev}} Files</div>
      <div  class="value pink">{{numOfSRev}} MB</div>
    </ion-card-content>
  </ion-card>

</ion-content>
