<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" align="center"><h1>History</h1> </ion-title>
    <ion-buttons
       class="contact"
       (click)="gotoContactPage()"
       slot="end"
       color="light"
     >
       <ion-icon name="chatbubbles-outline"></ion-icon>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="content">
      <ion-title size="large">History</ion-title>
            <ion-button
        class="contact"
        (click)="gotoContactPage()"
        slot="end"
        color="light"
      >
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-card><ion-card-title>Device info </ion-card-title>
    <ion-card-content>Device uuid: {{uid}}</ion-card-content>
    <ion-card-content>Device name: {{name}}</ion-card-content>
  </ion-card>
  <ion-card>
    <div>
      <div>Storage in used</div>
      <div>{{numOfSize | number:'1.2-2' }}MB from 10GB/Day</div>
    </div>
    <div><div>{{percent| number:'1.2-2' }}%</div></div>
  </ion-card>

  <ion-card>
    <ion-card-title>Sent</ion-card-title>
    <ion-card-content class="flex">
      <div class="value pink">{{numOfSent | number:'1.0' }} files</div>
      <div class="value purple">{{numOfSize | number:'1.2-2' }} MB</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Receive</ion-card-title>
    <ion-card-content class="flex">
      <div class="value yellow">{{numOfRev | number:'1.0' }} Files</div>
      <div class="value pink">{{numOfSRev | number:'1.2-2' }} MB</div>
    </ion-card-content>
  </ion-card>
</ion-content>
