<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> History </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div>
      <div>Storage in used</div>
      <div>[125 MB] from [20 GB]</div>
    </div>
    <div><div >15%</div></div>
  </ion-card>

  <ion-card>
    <ion-card-title>Sent</ion-card-title>
    <ion-card-content class="flex">
      <div class="value pink">[125] MB</div>
      <div  class="value purple">[25] MB</div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Receive</ion-card-title>
    <ion-card-content class="flex">
      <div class="value yellow">[125] MB</div>
      <div  class="value pink">[25] MB</div>
    </ion-card-content>
  </ion-card>
</ion-content>
