<ion-header>
  <ion-toolbar>
    <ion-title align="center"><h1>Photo</h1></ion-title>
      <ion-buttons
      class="contact"
      (click)="gotoContactPage()"
      slot="end"
      color="light"
    >
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
            <ion-button
        class="contact"
        (click)="gotoContactPage()"
        slot="end"
        color="light"
      >
        <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-button>
      <ion-title size="large">Photo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="ion-justify-content-center btnmain">
    <ion-button *ngIf="!capturedImage" class="main" expand="full" shape="round" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
      <!-- <h3>ถ่ายภาพ</h3> -->
    </ion-button>
  </ion-row>

  <div class="circle">
    <img [src]="imageSrc"/>
    <!-- <img src="https://images.unsplash.com/photo-1667286143856-15a18c01a491?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" alt=""> -->
  </div>

  <ion-button *ngIf="capturedImage" expand="full" shape="round" (click)="sharePicture()">
    แชร์รูปภาพ
  </ion-button>

</ion-content>
