<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons
      class="contact"
      (click)="gotoContactPage()"
      slot="end"
      color="light"
    >
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-buttons>
    <ion-title align="center"><h1>Flier</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button
        class="contact"
        (click)="gotoContactPage()"
        slot="end"
        color="light"
      >
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-title size="large" vertical="center" horizontal="start" class="font"
        >Flier</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <div class="paneltop">
      <div class="title top">Hello,</div>
      <div class="content">Do you want to send some file?</div>
      <ion-label id="imageName"></ion-label>
    </div>

  <script>
        let input = document.getElementById("inputTag");
        let imageName = document.getElementById("imageName")

        input.addEventListener("change", ()=>{
            let inputImage = document.querySelector("input[type=file]").files[0];

            imageName.innerText = inputImage.name;
        })
    </script>
  <ion-row class="ion-justify-content-center"><ion-card class="none"><input id="inputTag" class="container" type="file" (change)="onFileChange($event)" required /></ion-card></ion-row>
  <ion-fab class="btn" vertical="bottom" horizontal="start" slot="fixed">
    <ion-button expand="full" (click)="downloadPage()" shape="round"
      >Send</ion-button
    >
  </ion-fab>
</ion-content>
