<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons
      class="contact"
      (click)="gotoContactPage()"
      slot="end"
      color="light"
    >
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-buttons>
    <ion-title align="center"><h1> Flier </h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button
        class="contact"
        (click)="gotoContactPage()"
        slot="end"
        color="light"
      >
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-button>
      <ion-title size="large" vertical="center" horizontal="start" class="font"
        >Flier</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-button>
      <ion-icon name="laptop-outline"></ion-icon>
    </ion-button>
  </ion-fab>
  <ion-fab class="btn" vertical="bottom" horizontal="start" slot="fixed">
    <ion-button
      expand="full"
      (click)="downloadPage()"
      shape="round"
      >Send</ion-button
    >
  </ion-fab>

  <div id="container">
    <ion-item>
      <input type="file" (change)="onFileChange($event)" required />
    </ion-item>
  </div>
</ion-content>
