
.toolbar-title{
  display:flex;
}

.icon{
  font-size:12vh;
 color:white;
}
.textdes{
  font-size:2vw;
  color:white;
}
.btn{
  width:92%;
}
.content-panel{
  background-color:#131313;
  color:white;
  height:60vh;
  border-radius: 20px 20px 0 0;
}

