.icon {
  font-size: 12vh;
}
.textdes {
  font-size: 2vw;
}
.btn {
  width: 92%;
}
.content {
  padding:20px;
  background: #131313;
  color: white;
  height: 80vh;
  border-radius: 20px 20px 0 0;
}

.item {
  padding: 10px;
  border-radius: 40px;
  background: white;
}
.flex {
  display:flex;
  align-items: center;
}
.circle{
  background:#131313;
  border-radius: 100%;
  padding:15px;
}
ion-progress-bar {
  width: 80%;
}
